body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin: 10px;
}

button{
    color: white;
    background-color: blue;
    border: none;
    height: 30px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(0, 0, 203);
}

input{
    height: 20px;
}